{% extends "base.html.twig" %}

{% block title %}Add | {{parent()}}{% endblock %}
{% block body %}
    {% include "nav.html.twig" %}
    <main>
        <h1>{{ 'Add new ToDo' }}</h1>
        <div class="container-form">
        </div>
    </main>
{% endblock %}