{% extends "base.html.twig" %}

{% block body %}
{% include "nav.html.twig" %}
<main>
    <h1>To Do List</h1>

    <div class="container-todos">
        <ol class="todos">
            {% for todo in todos %}
                
                <li class="todo">
                    <span>
                        <form style="display: inline-block;" action="" method="POST">
                            <input style="cursor: pointer;" type="checkbox" {% if todo['isDone'] %} checked {% endif %}>
                        </form> 
                        {{ todo['name'] }}
                    </span>
                    <span>
                        <a href={{path('todo_edit_page', {id: todo['id']})}} class="btn-edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        
                        <button class="btn btn-trash">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </span>
            </li>
            {% endfor %}
        </ol>
    </div>
</main>
{% endblock %}