{% extends "base.html.twig" %}

{% block body %}
{% include "nav.html.twig" %}
<main>
    <h1>To Do List</h1>

    <div class="container-todos">
        <ol class="todos">
            <li class="todo">1. Fazer compras
                <span>
                    <a href={{absolute_url('/todo/edit/1')}} class="btn-edit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    
                    <button class="btn btn-trash">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </span>
            </li>

            <li class="todo">2. Lavar o carro
                <span>
                    <a href={{absolute_url('/todo/edit/2')}} class="btn-edit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    
                    <button class="btn btn-trash">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </span>
            </li>

            <li class="todo">3. Estudar programação
                <span>
                    <a href={{absolute_url('/todo/edit/3')}} class="btn-edit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    
                    <button class="btn btn-trash">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </span>
            </li>
        </ol>
    </div>
</main>
{% endblock %}