<nav class="container-fluid">
    <a class="brand" href={{path('home_page')}}><i class="fa-solid fa-pen"></i> ToDo App</a>
    <a class="btn btn-add-todo" href={{path('todo_add_page')}}>Add ToDo</a>
</nav>
