<nav class="container-fluid">
    <a class="brand" href={{absolute_url('/')}}><i class="fa-solid fa-pen"></i> ToDo App</a>
    <a class="btn btn-add-todo" href={{absolute_url('/todo/add')}}>Add ToDo</a>
</nav>
